apiVersion: apps/v1
kind: Deployment
metadata:
  name: auto-patch-deployment
  namespace: auto-patch-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auto-patch
  template:
    metadata:
      labels:
        app: auto-patch
    spec:
      containers:
        - name: auto-patch-container
          image: andrejp02/auto-patch-image
          ports:
          - containerPort: 13000
---
apiVersion: v1
kind: Service
metadata:
  name: auto-patch-service
  namespace: auto-patch-namespace
spec:
  selector:
    app: auto-patch
  ports:
    - port: 13000
      targetPort: 13000