apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-deployment
  namespace: postgres-sql-namespace
spec:
  serviceName: postgres-service
  replicas: 1
  selector:
    matchLabels:
      app: postgres-deployment
  template:
    metadata:
      labels:
        app: postgres-deployment
    spec:
      containers:
      - name: postgres
        image: postgres:14
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: postgres-secret-init
              key: POSTGRES_DB_NAME
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret-init
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret-init
              key: POSTGRES_PASSWORD
        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
  - metadata:
      name: postgres-storage
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 5Gi
      storageClassName: standard

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: postgres-sql-namespace
  labels:
    app: postgres-service
spec:
  clusterIP: None
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres-deployment
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret-init
  namespace: postgres-sql-namespace
type: Opaque
data:
  POSTGRES_DB_NAME: cG9zdGdyZXM=
  POSTGRES_USER: YWRtaW4=
  POSTGRES_PASSWORD: cGFzc3dvcmQ=