apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: trivy-service-monitor
  namespace: container-scanner
  labels:
    name: trivy-monitor
    role: service-monitor
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: trivy-operator
  namespaceSelector:
    matchNames:
      - container-scanner
  endpoints:
    - port: metrics
      path: /metrics
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: trivy-env-config-map
  namespace: container-scanner
data:
  OPERATOR_TARGET_NAMESPACES: "node-server-app,api-namespace,alert-processor-namespace,image-check-namespace,postgres-sql-namespace,auto-patch-namespace"
  OPERATOR_SCANNER_VULNERABILITY_SCANNER_ENABLED: "true"

